vscode-python:
  service:
    image:
      pullPolicy: IfNotPresent
      custom:
        enabled: true
        version: stephanerenouard/onyxia-vscode:0.1.6

  resources:
    limits:
      cpu: "2"
      memory: 4Gi
    requests:
      cpu: "1"
      memory: 2Gi

  # Onyxia gère déjà l’ingress/hostname/ingressClass via la région,
  # on laisse le chart officiel appliquer sa logique par défaut.
