replicaCount: 1

image:
  repository: stephanerenouard/onyxia-vscode
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9000

resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 1
    memory: 2Gi
