vscode-python:
  ingress:
    enabled: false

  service:
    image:
      pullPolicy: IfNotPresent
      custom:
        enabled: true
        version: harbor.lan/premyom/onyxia-code-server:0.1.3

  extraEnvVars:
    - name: CODE_SERVER_AUTH
      value: none

  persistence:
    size: 2Gi

  resources:
    limits:
      cpu: "2"
      memory: 4Gi
    requests:
      cpu: "1"
      memory: 2Gi

sso:
  secretName: oauth2-proxy
  issuerUrl: https://auth.datalab.arkam-group.com/auth/realms/onyxia
  redirectUrl: https://datalab.arkam-group.com/oauth2/callback
  cookieDomain: .datalab.arkam-group.com
  whitelistDomain: .datalab.arkam-group.com
  ingress:
    enabled: true
    tls: true
    ingressClassName: ""
    annotations: {}
    hostname: chart-example.local
    path: /
