vscode-python:
  ingress:
    enabled: false

  service:
    image:
      pullPolicy: IfNotPresent
      custom:
        enabled: true
        version: harbor.lan/premyom/onyxia-code-server:0.1.3

  extraEnvVars:
    - name: CODE_SERVER_AUTH
      value: none
    - name: ONYXIA_USER_GROUPS
      value: '{{ .Values.premyom.userGroupsJson }}'
    - name: PREMYOM_S3_MOUNT_ENABLED
      value: '{{ .Values.premyom.s3Mount.enabled }}'
    - name: PREMYOM_S3_NONHDS_ENDPOINT_HOST
      value: '{{ .Values.premyom.s3Mount.nonHdsEndpointHost }}'
    - name: PREMYOM_S3_HDS_ENDPOINT_HOST
      value: '{{ .Values.premyom.s3Mount.hdsEndpointHost }}'
    - name: PREMYOM_S3_VAULT_NONHDS_PATH
      value: '{{ .Values.premyom.s3Mount.vaultNonHdsPath }}'
    - name: PREMYOM_S3_VAULT_HDS_PATH
      value: '{{ .Values.premyom.s3Mount.vaultHdsPath }}'
    - name: PREMYOM_S3_MOUNT_ROOT
      value: '{{ .Values.premyom.s3Mount.mountRoot }}'

  persistence:
    size: 2Gi

  resources:
    limits:
      cpu: "2"
      memory: 4Gi
    requests:
      cpu: "1"
      memory: 2Gi

  vault:
    enabled: true
    secretName: ""
    token: ""
    url: ""
    mount: ""
    secret: ""
    directory: ""

  premyom:
    userGroupsJson: "[]"
    s3Mount:
      enabled: "true"
      nonHdsEndpointHost: "cellar-c2.services.clever-cloud.com"
      hdsEndpointHost: "cellar-c2.services.clever-cloud.com"
      vaultNonHdsPath: "secret/data/premyom/s3/nonhds"
      vaultHdsPath: "secret/data/premyom/s3/hds"
      mountRoot: "/mnt/s3"

sso:
  secretName: oauth2-proxy
  issuerUrl: https://auth.datalab.arkam-group.com/auth/realms/onyxia
  redirectUrl: https://datalab.arkam-group.com/oauth2/callback
  cookieDomain: .datalab.arkam-group.com
  whitelistDomain: .datalab.arkam-group.com
  ingress:
    enabled: true
    tls: true
    ingressClassName: ""
    annotations: {}
    hostname: chart-example.local
    path: /
